<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="'15rem'">
    <ul>
      <li>
        <div class="line-left"></div>
        <div class="links" routerLink="/home">
          <a mat-icon-button color="basic">
            <mat-icon>home</mat-icon>
          </a>
          <span>Home</span>
        </div>
      </li>
      <li>
        <div class="line-left"></div>
        <div class="links" routerLink="/clientes/form">
          <a mat-icon-button color="basic" routerLink="/clientes/form">
            <mat-icon>account_circle</mat-icon>
          </a>
          <span>Cadastrar</span>
        </div>
      </li>
      <li>
        <div class="line-left"></div>
        <div class="links" routerLink="/clientes">
          <a mat-icon-button color="basic" routerLink="/clientes">
            <mat-icon>check_circle</mat-icon>
          </a>
          <span>Clientes</span>
        </div>
      </li>
      <li>
        <div class="line-left"></div>
        <div class="links" routerLink="/servico-prestado/form">
          <a mat-icon-button color="basic" routerLink="/servico-prestado/form">
            <mat-icon>attach_money</mat-icon>
          </a>
          <span>Serviços</span>
        </div>
      </li>
      <li>
        <div class="line-left"></div>
        <div class="links" routerLink="/servico-prestado/lista">
          <a mat-icon-button color="basic" routerLink="/servico-prestado/lista">
            <mat-icon>search</mat-icon>
          </a>
          <span>Pesquisar</span>
        </div>
      </li>
      <li>
        <div class="line-left"></div>
        <div class="links" (click)="logout()">
          <a mat-icon-button color="basic">
            <mat-icon>power_settings_new</mat-icon>
          </a>
          <span>Sair</span>
        </div>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>