<h3>Bem-vindo</h3>

<main>
    <div class="container-cards">
        <div class="card">
            <span>Total user</span>
            <div class="status">
                <h5>40.000</h5>
                <img src="../../assets/Icon.png" alt="icon">
            </div>
            <div class="icon">
                <mat-icon> call_missed_outgoing</mat-icon>
                <small>8.5%</small>
            </div>
        </div>

        <div class="card">
            <span>Total sales</span>
            <div class="status">
                <h5>324</h5>
                <img src="../../assets/Icon.png" alt="icon">
            </div>
            <div class="icon">
                <mat-icon> call_missed_outgoing</mat-icon>
                <small>27.5%</small>
            </div>
        </div>
    </div>
</main>