.readonly {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #d6d4d4;
}

span {
    position: relative;
    top: .625rem;
    font-weight: 800;
}

mat-card-content {
    margin-top: 1.625rem;
}

.readonly mat-card {
    width: 100%;
}

.register {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.register mat-card {
    width: 100%;
}

button {
    margin-top: 1rem;
}

.error-content {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.error-card {
    width: 50%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-card .error {
    border-left: 4px solid #d9534f;
    border-left-color: #d9534f;
    background-color: rgba(217, 83, 79, 0.1);
    width: 50%;
    text-align: center;
    color: #d9534f;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.custom-file-upload {
    border: 1px solid #3458c6;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3458c6;
    color: #fff;
    margin-bottom: 1rem;

    mat-icon {
        color: #fff;
    }

    span {
        position: relative;
        bottom: .325rem;
        left: .325rem;
    }
}

.custom-file-upload:hover {
    background-color: #fff;
    color: #3458c6;
    transition: ease .8s;

    mat-icon {
        color: #3458c6;
    }
}

input[type="file"] {
    display: none;
}