<mat-toolbar>
  <div class="logo">
    <a routerLink="/home">
      <img src="{{ logo }}" alt="logo" />
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="'15rem'">
    <ul>
      <li>
        <div class="links" routerLink="/home">
          <span>Home</span>
          <a mat-icon-button color="basic">
            <mat-icon>home</mat-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="links" routerLink="/cliente-form">
          <span>Cadastrar</span>
          <a mat-icon-button color="basic" routerLink="/cliente-form">
            <mat-icon>account_circle</mat-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="links" routerLink="/cliente-lista">
          <span>Clientes</span>
          <a mat-icon-button color="basic" routerLink="/cliente-lista">
            <mat-icon>check_circle</mat-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="links" routerLink="/servico-prestado-form">
          <span>Serviços</span>
          <a mat-icon-button color="basic" routerLink="/servico-prestado-form">
            <mat-icon>attach_money</mat-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="links" routerLink="/servico-prestado-lista">
          <span>Pesquisar</span>
          <a mat-icon-button color="basic" routerLink="/servico-prestado-lista">
            <mat-icon>search</mat-icon>
          </a>
        </div>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>