.logo {
  position: relative;
  top: 1.5rem;
  right: 2rem;
}

.logo img {
  width: 200px;
}

.mat-toolbar {
  background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);  position: relative;
  height: 5rem;
  z-index: 5;
}

.icons-nav {
  position: relative;
  right: 3rem;
  top: 0.625rem;
}

.content {
  padding: 1rem;
}

mat-sidenav-container {
  height: 100%;
}

ul {
  padding: 0;
  padding-left: 1rem;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.links {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
