.logo {
  position: relative;
  top: 1.5rem;
  right: 2rem;
}

.logo img {
  width: 200px;
}

mat-toolbar {
  background: #144072;
  background: linear-gradient(135deg, #144072, #4262dd);
  height: 5rem;
  z-index: 5;
}

.icons-nav {
  position: relative;
  right: 3rem;
  top: 0.625rem;
}

.content {
  padding: 1rem;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background: #144072;
  background: linear-gradient(135deg, #144072, #4262dd);
}

ul {
  padding: 0;
  padding-left: 1rem;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.links {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

span {
  text-decoration: underline;
  font-weight: 800;
  color: #fff;
}

mat-icon {
  color: #fff;
}
