.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.form-card .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-card {
    background: #144072;
    background: linear-gradient(135deg, #144072, #4262dd);
    width: 30vw;
    height: 60vh;
}

button {
    background-color: #fff;
}

mat-card-footer a {
    color: #fff;
}

mat-card-title {
    text-decoration: underline;
    color: #fff;
}

.buttons {
    display: flex;
    gap: 1rem;
}