<div class="main">
    <mat-card class="form-card">
        <form #loginForm="ngForm" (submit)="onSubmit()">
            <div class="inputs">
                <mat-card-title>{{cadastrando ? 'Cadastro de novo usuário' : 'Entrar'}}</mat-card-title>
                <small>{{cadastrando ? 'Registre-se com um usuário e senha!' : 'Por favor, entre com o seu usuário e senha! '}}</small>
                <mat-form-field appearance="fill">
                    <mat-icon matPrefix>perm_identity</mat-icon>
                    <input matInput [(ngModel)]="usuario.username" type="text" name="username" placeholder="{{cadastrando ? 'Novo usuário' : 'Digite seu usuário'}}">
                </mat-form-field>
                <mat-form-field>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput [(ngModel)]="usuario.password" type="password" name="password" placeholder="{{cadastrando ? 'Nova senha' : 'Digite sua senha'}}">
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="cadastrando">
                    <mat-label>Selecione a Permissão</mat-label>
                    <mat-select [(ngModel)]="roleSelecionada" placeholder="Escolha a permissão">
                        <mat-option>Selecione</mat-option>
                      <mat-option [value]="roleAdmin">Administrador</mat-option>
                      <mat-option [value]="roleUser">Usuário</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div class="buttons">
                    <button type="submit" mat-button color="primary">{{cadastrando ? 'Cadastrar' : 'Entrar'}}</button>
                    <button *ngIf="cadastrando" type="button" mat-button color="primary"
                        (click)="cancelarCadastro()">Cancelar</button>
                </div>
                <mat-card-footer *ngIf="cadastrando != true">
                    <a mat-button (click)="prepararCadastro($event)" href="#"> Não possui usuário? Cadastre-se!</a>
                </mat-card-footer>
            </div>
        </form>
    </mat-card>
</div>