<div class="main">
    <mat-card class="form-card">
        <form #loginForm="ngForm" (submit)="onSubmit()">
            <div class="inputs">
                <img src="assets/logo.png" alt="logo" width="200px">
                <mat-card-title>{{cadastrando ? 'Cadastro de novo usuário' : 'Entrar'}}</mat-card-title>
                <mat-form-field appearance="fill">
                    <mat-label>Username:</mat-label>
                    <input matInput [(ngModel)]="usuario.username" type="text" name="username" placeholder="Usuário">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password:</mat-label>
                    <input matInput [(ngModel)]="usuario.password" type="text" name="password" placeholder="Senha">
                </mat-form-field>
                <mat-form-field *ngIf="cadastrando == true">
                    <mat-select [(ngModel)]="usuario.roles">
                        <mat-option *ngFor="let role of roles" [value]="role">
                            {{role}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="buttons">
                    <button type="submit" mat-button color="primary">{{cadastrando ? 'Cadastrar' : 'Entrar'}}</button>
                    <button *ngIf="cadastrando" type="button" mat-button color="primary"
                        (click)="cancelarCadastro()">Cancelar</button>
                </div>
                <mat-card-footer *ngIf="cadastrando != true">
                    <a mat-button (click)="prepararCadastro($event)" href="#"> Não possui usuário? Cadastre-se!</a>
                </mat-card-footer>
            </div>
        </form>
    </mat-card>
</div>