<h1>Bem-vindo</h1>

<main>
    <div class="container-cards">
        <div class="card">
            <span>Total de usuários no sistema</span>
            <div class="status">
                <h5>{{totalClientes}}</h5>
                <img src="../../../assets/images/Icon.png" alt="icon">
            </div>
            <div class="icon">
                <mat-icon> call_missed_outgoing</mat-icon>
                <a routerLink="/clientes/form">Vamos registrar mais clientes?</a>
            </div>
        </div>

        <div class="card">
            <span>Média mensal de clientes no mês</span>
            <div class="status">
                <h5>{{mediaMensal | number: '1.0-3'}}</h5>
                <img src="../../../assets/images/Icon.png" alt="icon">
            </div>
            <div class="icon">
                <mat-icon> call_missed_outgoing</mat-icon>
                <a routerLink="#">Quer subir a média de clientes?</a>
            </div>
        </div>

        <div class="card-servico">
            <span>Último serviço prestado</span>
            <div class="status">
                <h5>R$ {{valorUltimoServicoPrestado | number: '1.0-3'}}</h5>
                <img src="../../../assets/images/Icon.png" alt="icon">
                <div class="card-image">
                    <img [src]="'data:image/png;base64,' + imagem.data" alt="imageDB">
                </div>
            </div>
            <div class="icon">
                <mat-icon> call_missed_outgoing</mat-icon>
                <a routerLink="/servico-prestado/form">Vamos registrar mais serviços?</a>
            </div>
        </div>
    </div>
</main>