main {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 800;
}

.container-cards {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.card-servico {
    width: 45rem;
    height: 15rem;
    border-radius: 2rem;
    box-shadow: 11px 17px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1rem;

    span {
        font-size: 1rem;
        color: gray;
        font-weight: 400;
    }

    h5 {
        margin-top: 3rem;
        font-size: 2rem;
        font-weight: 800;
    }

    a {
        color: #00B69B;
        font-size: .825rem;
        font-weight: 600;
    }

    .icon {
        display: flex;
        margin-top: 6rem;

        mat-icon {
            color: #00B69B;
        }
    }

    .status {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            position: relative;
            top: 1rem;
            width: 60px;
            height: 60px;
        }
    }
}

.card {
    width: 20rem;
    height: 15rem;
    border-radius: 2rem;
    box-shadow: 11px 17px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1rem;

    span {
        font-size: 1rem;
        color: gray;
        font-weight: 400;
    }

    h5 {
        margin-top: 3rem;
        font-size: 2rem;
        font-weight: 800;
    }

    a {
        color: #00B69B;
        font-size: .825rem;
        font-weight: 600;
    }

    .icon {
        display: flex;
        margin-top: 6rem;

        mat-icon {
            color: #00B69B;
        }
    }

    .status {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            position: relative;
            top: 1rem;
            width: 60px;
            height: 60px;
        }
    }
}